{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block main %}
    <h1>Schedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schedule.id }}</td>
            </tr>
            <tr>
                <th>DateAndHour</th>
                <td>{{ schedule.dateAndHour ? schedule.dateAndHour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_schedule_index') }}">back to list</a>

    <a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>

    {{ include('schedule/_delete_form.html.twig') }}
{% endblock %}
