<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stylos Black{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="flex flex-col bg-gray-50 min-h-screen">

    {% block header %}
        <header class="bg-primary shadow-md sticky top-0 z-50 w-full">
            <div class="container mx-auto flex justify-between items-center p-6">
                <div class="text-3xl font-bold text-white">Stylos Black</div>
                <nav class="space-x-6">
                    <a href="#" class="text-white hover:text-gray-400 font-medium">Inicio</a>
                    <a href="#" class="text-white hover:text-gray-400 font-medium">Barbeiro</a>
                    <a href="#" class="text-white hover:text-gray-400 font-medium">Trancista</a>
                    <a href="#" class="text-white hover:text-gray-400 font-medium">Contato</a>
                    {% if is_granted('ROLE_USER') %}
                        <div class="hs-dropdown relative inline-flex">
                            <button id="hs-dropdown-custom-trigger" type="button" class="hs-dropdown-toggle py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm rounded-full text-white hover:text-gray-400 font-medium shadow-sm" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                                <span class="truncate max-w-[7.5rem]">{{ current_user().name }}</span>
                                <svg class="hs-dropdown-open:rotate-180 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                            </button>

                            <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-primary shadow-md rounded-lg p-1 space-y-0.5 mt-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-custom-trigger">
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-gray-400 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                                    Perfil
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-gray-400 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                                    Agenda
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-gray-400 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="{{ path('service_new') }}">
                                    Novo serviço
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-gray-400 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                                    Listar serviços
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-gray-400 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="{{ path('app_logout') }}">
                                    Sair
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </nav>
            </div>
            <div class="md:hidden">
                <button class="text-gray-700 hover:text-blue-600 focus:outline-none" id="menu-button">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
            <div class="hidden md:hidden" id="menu">
                <nav class="p-4 bg-white shadow-lg">
                    <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Inicio</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Barbeiro</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Trancista</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Contato</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="#" class="text-white hover:text-gray-400 font-medium">Perfil</a>
                        <a href="{{ path('app_logout') }}" class="text-white hover:text-gray-400 font-medium">Sair</a>
                    {% endif %}
                </nav>
            </div>
        </header>
    {% endblock %}
    <main class="flex-1">

        {% block main %}
        {% endblock %}
    </main>


    {% block footer %}
        <!-- Footer -->
        <footer class="bg-primary text-white py-8 w-full">
            <div class="container mx-auto text-center">
                <p>© 2024 Stylos Black. Todos os direitos reservados.</p>
                <div class="flex justify-center space-x-6 mt-4">
                    <a href="#" class="hover:text-gray-400">Facebook</a>
                    <a href="#" class="hover:text-gray-400">Instagram</a>
                </div>
            </div>
        </footer>
    {% endblock %}

</body>
</html>
